/** ADD YOUR AWESOME CODES HERE **/
body.barber_version #sidebar-wrapper {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase !important;
  line-height: 1.25 !important;
  zoom: 0.9;
}
body.barber_version .section-title h3 {
  line-height: 1.25 !important;
}

.logo-sidebar img {
  zoom: 0.5;
}
.logo-sidebar .nome-salao {
  text-transform: capitalize;
}
.logo-sidebar .nome-salao div:first-child {
  font-size: 19px;
  font-weight: 600;
  color: #f0f0f0;
}
.logo-sidebar .nome-salao div:last-child {
  font-size: 14px;
  font-weight: 400;
}
/* .service-widget .post-media {
  height: 400px;
}
.service-widget .post-media img {
  width: 95%;
  height: 100%;
  min-height: 320px;
  object-fit: cover;
} */

.img-responsive {
  width: 297px;
  height: 200px;
  object-fit: cover;
}

.testimonial img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-distributed .footer-links {
  margin-bottom: 20px;
}
.footer-distributed .footer-company-name {
  margin-bottom: 30px;
  text-align: center;
}
.footer-links-social ul {
  display: flex;
  justify-content: center;
}
.footer-links-social li {
  padding: 10px;
}
.footer-links-social i {
  font-size: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
}
hr.grd1 {
  border-top: none;
}

.btn {
  zoom: 0.8;
}

.social-up-hover .footer-social {
  zoom: 0.8;
}

.titulo-destaque i {
  color: #bb9d52;
}

.form-control,
.btn-group.bootstrap-select {
  transition: box-shadow 0.15s ease;
  padding: 24px;
  border: 0;
  outline: none;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}
.form-control:focus,
.selectpicker {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-group.bootstrap-select {
  padding: 12px;
  padding-left: 24px;
  border-radius: 4px;
}
.btn-group.bootstrap-select * {
  outline: none !important;
}
.btn-group.bootstrap-select .filter-option.pull-left {
  font-size: 16px;
  color: rgba(85, 85, 85, 0.661);
  font-weight: 600;
}
