/** ADD YOUR AWESOME CODES HERE **/
/* @import url("./helpers.css"); */
.lista-demonstracao,
.hr-demonstracao {
  display: none;
}
:root {
  /* #e31e22 */
  /* #e31e22 -> Vermelho mais elegante*/
  --cor-principal: #e31e22;
  --cor-secundaria: #111;
}
*::selection {
  background-color: var(--cor-principal);
  color: white;
}
body.barber_version #sidebar-wrapper {
  overflow-x: hidden;
}
.section.p-index,
.section.p-equipe,
.section.p-servicos,
.section.p-horario,
.section.p-sobre {
  padding-left: 10px;
  padding-right: 10px;
}

.lead {
  padding-left: 10px;
  padding-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase !important;
  line-height: 1.25 !important;
  zoom: 0.9;
  padding-left: 10px;
  padding-right: 10px;
}
body.barber_version .section-title h3 {
  line-height: 1.25 !important;
}

.logo-sidebar img {
  zoom: 0.4;
}
.logo-sidebar .nome-salao {
  text-transform: capitalize;
}
.logo-sidebar .nome-salao div:first-child {
  font-size: 19px;
  font-weight: 600;
  color: #f0f0f0;
}
.logo-sidebar .nome-salao div:last-child {
  font-size: 14px;
  font-weight: 400;
}
/* .service-widget .post-media {
  height: 400px;
}
.service-widget .post-media img {
  width: 95%;
  height: 100%;
  min-height: 320px;
  object-fit: cover;
} */

/* .service-wrap .descricao2 {
  height: 120px;
  overflow-y: auto;
} */
/* .service-wrap .descricao1 {
  height: 200px;
  overflow-y: auto;
} */

.service-wrap {
  height: 240px;
  overflow: auto;
}

.hoverbutton {
  z-index: 100;
  zoom: 0.7;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 0px;
  margin-right: 0px;
  color: #f0f0f0 !important;
  background-color: var(--cor-principal);
}
.widget .post-media:hover .hoverbutton,
.widget:hover .hoverbutton {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  opacity: 1;
}

.img-responsive {
  width: 297px;
  height: 200px;
  object-fit: cover;
}

.testimonial img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-distributed .footer-links {
  margin-bottom: 20px;
}
.footer-distributed .footer-company-name {
  margin-bottom: 30px;
  text-align: center;
}
.footer-links-social ul {
  display: flex;
  justify-content: center;
}
.footer-links-social li {
  padding: 10px;
}
.footer-links-social i {
  font-size: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
}
hr.grd1 {
  border-top: none;
}

.btn {
  zoom: 0.8;
}

.social-up-hover .footer-social {
  zoom: 0.9;
}

.titulo-destaque i:not(.not-styled),
.titulo-destaque b:not(.not-styled) {
  color: #e31e22;
}

.form-control,
.btn-group.bootstrap-select {
  transition: box-shadow 0.15s ease;
  padding: 24px;
  border: 0;
  outline: none;
  margin: 10px 0px;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}
.form-control:focus,
.selectpicker {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-group.bootstrap-select {
  padding: 12px 24px;

  border-radius: 4px;
}
.btn-group.bootstrap-select * {
  outline: none !important;
}
.btn-group.bootstrap-select .filter-option.pull-left {
  font-size: 16px;
  color: rgba(85, 85, 85, 0.661);
  font-weight: 600;
}

.form-contact-title {
  font-weight: 700;
  text-align: center;
  color: #333;
}

#testimonials {
  padding: 0px;
}
#testimonials .container-fluid {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 70px;
  padding-bottom: 70px;
}

.contact .info {
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 20px;
}
@media (max-width: 640px) {
  .contact .info {
    grid-template-columns: 1fr;
  }
}
.contact .info i {
  font-size: 20px;
  color: var(--cor-principal);
  float: left;
  width: 44px;
  height: 44px;
  background: #ffa4bfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding-left: 60px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #2c4964;
}
.contact .info p {
  padding-left: 60px;
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}
/* .contact .info .email,
.contact .info .phone {
  margin-top: 20px;
} */
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--cor-principal);
  color: #fff;
}

.contact {
  padding: 20px 30px;
}

.dev-list div.wow {
  padding-left: 2px;
  padding-right: 2px;
}
.dev-list {
  clear: both;
}

.section.nopad.cac.text-center {
  background: #1a1a1a;
  transition: all ease-in-out 0.15s;
  /* margin-top: -90px; */
}
.section.nopad.cac.text-center:hover {
  transform: scale(1.04);
}
.section.nopad.cac.text-center h3 {
  padding: 40px 0;
  font-size: 18px;
}
@media (max-width: 940px) {
  .section.nopad.cac.text-center strong {
    /* font-size: 24px !important; */
  }
}

.parallax.first-section {
  height: 70vh;
  /* display: flex;
  align-items: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  min-height: 400px;
}
.parallax.first-section .container-fluid {
  margin-top: -30vh;
}
@media (max-width: 770px) {
  .parallax.first-section .container-fluid {
    margin-top: -10vh;
  }
}
#full-width .owl-dots {
  display: none;
}

.service-wrap {
  position: relative;
  cursor: default;
}

.service-wrap .lead {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 15px;
  text-align: right;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 6px;
  background-color: var(--cor-principal);
  opacity: 0.8;
}
.service-wrap p:not(.lead),
.service-wrap h4 {
  zoom: 0.9;
}

.testimonial .lead {
  color: #f0f0f0;
}
.nav.nav-tabs a {
  /* text-transform: uppercase; */
  font-weight: 500;
}
.nav.nav-tabs a:hover {
  color: #111;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: var(--cor-principal);
}
.all-page-bar,
.section.nopad.cac.text-center {
  z-index: 1;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: var(--cor-principal);
  color: #f0f0f0;
  border: none;
}
.lista-servicos {
  /* width: 50%;
  max-width: 300px;
  margin: 0 auto; */
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: white;
}

.footer-distributed .footer-company-name a:hover {
  color: #f0f0f0;
}
.arrow-down-animate {
  padding-top: 10px;
  display: block;
  font-size: 24px;
  animation: anima-arrow 1.5s ease-in-out forwards infinite alternate;
}
.arrow-down-animate2 {
  margin-top: -20px;
  animation: anima-arrow2 1.5s ease-in-out forwards infinite alternate;
}

@keyframes anima-arrow {
  to {
    opacity: 0.1;
    transform: translateY(15px);
  }
}
@keyframes anima-arrow2 {
  to {
    opacity: 0.1;
    transform: translateX(10px);
  }
}

.d-none {
  display: none;
}
@media (max-width: 990px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: inline;
  }
}

@media (min-width: 1100px) {
  .d-xl-block {
    display: block;
  }
}

@media (max-width: 900px) {
  .first-section h2 strong {
    font-size: 25px !important;
  }
}

.about-tab .tab-pane {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.about-tab .tab-content > .tab-pane {
  padding: 40px 20px;
  padding-bottom: 0px;
}
.about-tab .tab-content > .tab-pane ul {
  text-align: left;
}
.about-tab .tab-content > .tab-pane ul li {
  display: block;
  margin-bottom: 15px;
  font-style: italic;
}

.tab-pane .testimonial h4 {
  color: #1a1a1a;
}
.tab-pane .testimonial small {
  color: #ccc;
  zoom: 0.8;
}

.tab-pane .citacao .fa {
  zoom: 0.8;
  transform: translateY(-8px);
}

.all-page-bar.sobre-container {
  background-image: url("../images/banner-sobre.jpg");
}
.all-page-bar.equipe-container {
  background-image: url("../images/banner-equipe.jpg");
}
.all-page-bar.servicos-container {
  background-image: url("../images/banner-servicos.jpg");
}
.all-page-bar.pagina-horario {
  background-image: url("../images/banner-horario.jpg");
}

.all-page-bar .title .breadcrumb .active {
  /* color: white; */
  color: #e31e22;
  font-weight: bold;
  zoom: 1.1;
}

.desc h3 i {
  color: #f0f0f0;
  font-size: 27px;
  vertical-align: middle;
  margin-right: 12px;
}

.desc {
  padding: 30px;
  position: relative;
  background: var(--cor-secundaria);
  /* border: 1px solid #e31e22; */
  border-radius: 10px;
  zoom: 0.85;
  height: 220px;
  overflow: auto;
}
.desc + .testi-meta {
  zoom: 0.85;
}
.testi-meta small {
  color: #cccccc9e;
}

.T2dutf {
  display: none;
}

.iframe-youtube {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.container-fluid {
  padding: auto 10px;
}

@media (max-width: 515px) {
  .banner-home {
    transform: translateY(50px);
  }
}
@media (max-width: 600px) {
  .testimonial.clearfix {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.sidebar-nav {
  text-align: left;
}

.sidebar-nav .fa {
  float: right;
  font-size: 20px;
}
body.barber_version .sidebar-nav li {
  margin-bottom: 0px;
}
body.barber_version .sidebar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px;
  color: #f0f0f0;
  font-weight: 400;
}
body.barber_version .sidebar-nav li a.active {
  pointer-events: none;
  background: transparent;
  border-left: 2px solid var(--cor-principal);
}
body.barber_version .sidebar-nav li a:hover {
  background-color: transparent;
  color: var(--cor-principal);
}
.side-top {
  padding-left: 0;
  padding-right: 0;
  right: 0;
}
.section.db h3,
.desc .fa {
  color: var(--cor-principal);
  font-weight: 500;
}

#grd1-testimonials {
  background-color: var(--cor-principal);
}

@media (min-width: 990px) {
  body.barber_version .dev-list .widget {
    height: 340px;
  }
}
@media (max-width: 990px) {
  body.barber_version .dev-list .img-responsive {
    height: 340px;
  }
}
body.barber_version .service-wrap.servico_sem_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg.png);
  /*  no-repeat center center #fff */
}
body.barber_version .service-wrap.servico_sem_desc h4 {
  font-size: 27px;
}
body.barber_version .service-wrap.servico_sem_desc p:not(.descricao2) {
  font-size: 37px !important;
  font-weight: 300;
}
